$primary-color: #4682b4;
$hover-color: #4169e1;
$background-color: #f0f8ff;
$text-color: #333;
$border-color: #ccc;
$light-gray: #f2f2f2;
$border-radius: 0.5em;

.button {
  padding: 8px 16px;
  background: $primary-color;
  color: white;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  margin-top: 1rem;

  &:hover {
    background: $hover-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.auth-form {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background: white;

  h1 {
    text-align: center;
    color: $primary-color;
    text-decoration: none;
  }

  .auth-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    input {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      max-width: 300px;
    }
  }

  .auth-toggle {
    display: block;
    color: $primary-color;
    text-align: center;
    cursor: pointer;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.5s;
    }

    &:hover::after {
      width: 15%;
    }
  }

  .auth-loading {
    text-align: center;
  }

  .auth-error {
    text-align: center;
    color: red;
  }

  .auth-change-password {
    margin-top: 2rem;
    padding: 20px;
    background: $light-gray;
    border-radius: $border-radius;
    text-align: center;

    h2 {
      text-align: center;
      color: $primary-color;
    }

    .auth-change {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        margin-bottom: 1rem;
        font-weight: bold;
      }

      input {
        padding: 8px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        max-width: 300px;
      }
    }
  }
}
