$primary-color: #4682b4;
$hover-color: #4169e1;
$background-color: #f0f8ff;
$text-color: #333;
$border-color: #ccc;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .main-title {
    font-size: 2em;
    color: $primary-color;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 1.5em;
    }

    @media (max-width: 400px) {
      font-size: 1.2em;
    }
  }

  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 80%;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;

      @media (max-width: 600px) {
        max-width: 70%;
      }

      @media (max-width: 400px) {
        max-width: 60%;
      }
    }
  }
}
