/* Outer wrapper with a consistent gradient background */
.background-wrapper {
  background-image: linear-gradient(
    to bottom,
    rgb(57, 133, 248),
    rgb(255, 255, 255)
  );
  height: 100vh;
  overflow: auto;
}

#root {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 80ch;
}

@media only screen and (min-width: 1224px) {
  #root {
    padding: 1rem;
  }
}
