$primary-color: #4682b4;
$hover-color: #4169e1;
$background-color: #f0f8ff;
$text-color: #333;
$border-color: #ccc;
$message-padding: 1.2em;
$border-radius: 1.2em;

.message-thread {
  padding: 3em;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
}

.message {
  display: flex;
  margin: 0.6em 0;
  transition: all 0.3s ease;

  &.sent {
    justify-content: flex-end;
  }

  &.received {
    justify-content: flex-start;
  }

  .message-content {
    border-radius: $border-radius;
    padding: $message-padding;
    max-width: 60%;
    word-wrap: break-word;

    &.align-left {
      align-self: flex-start;
      text-align: left;
      background-color: #a3df81;

      &:hover {
        box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
      }
    }

    &.align-right {
      align-self: flex-end;
      text-align: right;
      background-color: #5aa1db;

      &:hover {
        box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
      }
    }

    small {
      display: block;
    }

    button {
      margin: 0.6em;
      padding: 0.2em 0.3em;
      background: $primary-color;
      color: white;
      border-radius: 0.3em;
      border: none;
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;
      display: inline-block;

      &:hover {
        background: $hover-color;
        box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.reply-form {
  margin-top: 2em;
  display: flex;
  justify-content: center;

  input {
    width: 50%;
    padding: $message-padding;
    border-radius: $border-radius;
  }

  button {
    margin-left: 1rem;
    padding: $message-padding;
    border-radius: $border-radius;
  }
}
