$message-padding: 10px;
$border-radius: 10px;

.message-thread {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin: 10px 0;

  &.sent {
    justify-content: flex-end;
  }

  &.received {
    justify-content: flex-start;
  }

  .message-content {
    border-radius: $border-radius;
    padding: $message-padding;
    max-width: 60%;
    word-wrap: break-word;

    &.align-left {
      align-self: flex-start;
      text-align: left;
      background-color: #a3df81;
    }

    &.align-right {
      align-self: flex-end;
      text-align: right;
      background-color: #5aa1db;
    }
  }
}

.reply-form {
  margin-top: 20px;

  input {
    width: 80%;
  }

  button {
    margin-left: 10px;
  }
}
