$primary-color: #4682b4;
$hover-color: #4169e1;
$background-color: #f0f8ff;
$text-color: #333;
$border-color: #ccc;

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  section {
    background: $background-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;

    .user-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;

      .form-group {
        margin-bottom: 15px;

        label {
          font-size: 1.2em;
          color: $text-color;
        }

        input {
          padding: 10px;
          border: 1px solid $border-color;
          border-radius: 5px;
        }
      }

      .form-buttons {
        display: flex;
        justify-content: center;

        button {
          margin: 0.6em;
          padding: 0.2em 0.3em;
          background: $primary-color;
          color: white;
          border-radius: 0.3em;
          border: none;
          cursor: pointer;
          transition: background 0.3s, box-shadow 0.3s;
          display: inline-block;

          &:hover {
            background: $hover-color;
            box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2em;
  color: $text-color;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 1rem;
    padding: 8px 16px;
    background: $primary-color;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;

    &:hover {
      background: $hover-color;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
