$bg: #ffffff;
$text: #333;

@font-face {
  font-family: Inter;
  src: url("./assets/Inter.ttf");
}

:root {
  font-family: Inter, sans-serif;

  color: $text;
  background-color: $bg;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
